<div class="footer animate animate-up">
    <div class="footer__info">
        <div class="footer__logo">
            <svg class="ico">
                <use xlink:href="/svg/sprite.svg#logo-f"></use>
            </svg>
            <div class="footer__logo--txt">
                <span style="color: #44C697">F</span>urniture.test
            </div>
        </div>
        <div class="footer__wrap">
            <div class="footer__item">
                <ul class="footer__menu">
                    <li>
                        <a href="">Дивани</a>
                    </li>
                    <li>
                        <a href="">ліжка</a>
                    </li>
                    <li>
                        <a href="">Крісла</a>
                    </li>
                    <li>
                        <a href="">шафи</a>
                    </li>
                    <li>
                        <a href="">Кухні</a>
                    </li>
                    <li>
                        <a href="">комоди</a>
                    </li>
                </ul>
                <ul class="footer__menu">
                    <li>
                        <a href="">АкцІї</a>
                    </li>
                    <li>
                        <a href="">Доставка та оплата</a>
                    </li>
                    <li>
                        <a href="">про нас</a>
                    </li>
                    <li>
                        <a href="">контакти</a>
                    </li>

                </ul>
            </div>
            <div class="footer__item">
                <div class="footer__contact">
                    <div class="footer__contact--item">
                        <svg class="ico">
                            <use xlink:href="/svg/sprite.svg#pointer"></use>
                        </svg>
                        TEST
                    </div>
                    <div class="footer__contact--item">
                        <svg class="ico">
                            <use xlink:href="/svg/sprite.svg#calendar"></use>
                        </svg>
                        Пн-Пт, з 10 до 18
                    </div>
                    <div class="footer__contact--item">
                        <svg class="ico">
                            <use xlink:href="/svg/sprite.svg#mobile"></use>
                        </svg>
                        <div class="link">
                            <a href="tel:+380991112233">(099) 111 22 33</a>
                            <a href="tel:+380992223344">(099) 222 33 44</a>
                        </div>

                    </div>
                    <div class="footer__social">
                        <div class="footer__social--txt">
                            Ми в соціальних мережах:
                        </div>
                        <div class="footer__social--link">
                            <a href="">
                                <svg class="ico">
                                    <use xlink:href="/svg/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="footer__social--link">
                            <a href="">
                                <svg class="ico">
                                    <use xlink:href="/svg/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="footer__social--link">
                            <a href="">
                                <svg class="ico">
                                    <use xlink:href="/svg/sprite.svg#instagram"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer__wrap">
            <div class="footer__item">
                <div class="copy">
                    © ТОВ Furniture, працюємо з 2006 року
                </div>
            </div>
            <div class="footer__item">
                <svg class="ico-gl">
                    <use xlink:href="/svg/sprite.svg#glyanets"></use>
                </svg>
                <div class="gl">
                    Глянець — розробка інтернет-магазинів
                </div>
            </div>
        </div>
    </div>
    <div class="footer__image">
        <img src="images/Rectangle176.jpg" alt="...">
    </div>
</div>
