<div class="nav">
    <div class="menu">
        <div class="toggle-nav__bubble">
            <div class="toggle-nav">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navigation__wrapper">
            <ul class="navigation">
                <li>
                    <div class="navigation__drop">
                        <a class="" href="#">Дивани</a>
                        <svg class="ico-drop">
                            <use xlink:href="/svg/sprite.svg#arrow-down"></use>
                        </svg>
                        <ul class="navigation__drop--list">
                            <li>
                                <a href="#">
                                    some item one
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    some item two
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    some item three
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="navigation__drop">
                        <a class="" href="#">ліжка</a>
                        <svg class="ico-drop">
                            <use xlink:href="/svg/sprite.svg#arrow-down"></use>
                        </svg>
                        <ul class="navigation__drop--list">
                            <li>
                                <a href="#">
                                    some item one
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    some item two
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    some item three
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="navigation__drop">
                        <a class="" href="#">Крісла</a>
                        <svg class="ico-drop">
                            <use xlink:href="/svg/sprite.svg#arrow-down"></use>
                        </svg>
                        <ul class="navigation__drop--list">
                            <li>
                                <a href="#">
                                    some item one
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    some item two
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    some item three
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="navigation__drop">
                        <a class="" href="#">комоди</a>
                        <svg class="ico-drop">
                            <use xlink:href="/svg/sprite.svg#arrow-down"></use>
                        </svg>
                        <ul class="navigation__drop--list">
                            <li>
                                <a href="#">
                                    some item one
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    some item two
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    some item three
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="navigation__drop">
                        <a class="" href="#">шафи</a>
                        <svg class="ico-drop">
                            <use xlink:href="/svg/sprite.svg#arrow-down"></use>
                        </svg>
                        <ul class="navigation__drop--list">
                            <li>
                                <a href="#">
                                    some item one
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    some item two
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    some item three
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="navigation__drop">
                        <a class="" href="#">Кухня</a>
                        <svg class="ico-drop">
                            <use xlink:href="/svg/sprite.svg#arrow-down"></use>
                        </svg>
                        <ul class="navigation__drop--list">
                            <li>
                                <a href="#">
                                    some item one
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    some item two
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    some item three
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
