<h2 class="animate animate-up">Залишились питання?</h2>
<div class="question__box animate animate-up">
    <div class="question__img">
        <img src="images/Rectangle175.jpg" alt="...">
    </div>
    <form action="someaction.php" method="GET" class="question__wrapper ">
        <div class="question__txt">
            <div class="question__name">
                Замовте консультацію
            </div>
            <input type="text" value="Віталій">
            <input type="text" value="Номер телефону">
            <button type="submit" class="btn-green">
                Вiдправити
            </button>
            <div class="question__decription">
                Залиште заявку або телефонуйте за
                номером <a href="tel:+390991112233">(099) 111 22 33</a>,
                і наш менеджер звяжеться з вами
                для кваліфікованої консультації.
            </div>
        </div>
    </form>
</div>
