<div class="mainslider animate animate-up">
    <div class="mainslider__box">
        <div class="mainslider__img">
            <img src="images/slider/mainPG2.jpg" alt="">
        </div>
        <div class="mainslider__info">
            <div class="mainslider__txt">
                Новинка!
            </div>
            <div class="mainslider__name">
                Ліжко Ornella
            </div>
            <div class="mainslider__slog">
                Це новий рівень комфортного сну
            </div>
            <div class="mainslider__btn">
                <div class="btn-green">
                    Детальніше
                </div>
            </div>
            <div class="mainslider__num">
                <b>01</b>/04
            </div>
        </div>
    </div>
    <div class="mainslider__box">
        <div class="mainslider__img">
            <img src="images/slider/mainPG2.jpg" alt="">
        </div>
        <div class="mainslider__info">
            <div class="mainslider__txt">
                Супер!
            </div>
            <div class="mainslider__name">
                Ліжко Ornella
            </div>
            <div class="mainslider__slog">
                А це ще новіший рівень комфорту
            </div>
            <div class="mainslider__btn">
                <div class="btn-green">
                    Детальніше
                </div>
            </div>
            <div class="mainslider__num">
                <b>02</b>/04
            </div>
        </div>
    </div>
</div>

